body {
  background-color: #333;
  color: #fff;
}
.App {
  text-align: center;
}
.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
}
.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin: 0 8px 0 0;
  align-items: center;
  justify-content: center;
}
.taskBg div {
  display: flex;
  align-items: center;
}
.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
  flex: 1;
}
.taskBg .wrap {
  transform: translateY(-50%);
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.taskBg .taskText {
  flex: 1;
  align-items: center;
}
.taskBg .wrap span {
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
  color: #00ff89;
}
.taskBg .wrap span:hover {
  color: yellow;
}
